{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
    <div class="login-page">
        <img src="{{ STATIC_URL }}img/t-shape-colors.svg" alt="" class="mx-auto login__logo">
        <h3 class="text-center">Log in to TolaData</h3>
        <p class="text-center text--gray text--light">Enter your details below.</p>
        <form action="" method="post">
          {% csrf_token %}
          <div class="tola-form">
            {{ form.as_p }}
              <a href="{% url 'password_reset' %}">Forgot my password</a>
              <input type="hidden" name="next" class="form-control" id="username"/>
              <div class="text-center">
                  <input type="submit" value="Log in" class="btn btn-primary">
              </div>
          </div>
            <p class="text-center login-page__or-seperator__wrap"> <span class="login-page__or-seperator">or</span></p>
            {% if not is_demo_branch %}
            <div class="social-buttons row">
                {% if request.is_secure %}
                <div class="col-md-6">
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-block  btn-social btn-social--google"><i class="icon-google"></i>Log in with Google</a>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'social:begin' 'microsoft-graph' %}" class="btn btn-social btn-social--microsoft"><i class="icon-microsoft"></i>Log in with Microsoft</a>
                </div>
                {% else %}
                <div class="col-md">
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-block  btn-social btn-social--google"><i class="icon-google"></i>Log in with Google</a>
                </div>
                {% endif %}
            </div>
            {% endif %}
          <p class="mt-4 text-center">
              Don't have an account? <a href="{% url 'register' %}">Register a new TolaData Account</a><br/>
          </p>
        </form>
        <p class="mt-4 text-center">
          {% if not is_demo_branch %}
            Don't have an organization registered? Please visit our website <a href="{{ toladata_website }}">toladata.com</a> to sign up for a free trial.
          {% endif %}
        </p>
        <p class="mt-4 text-center">
            Trouble logging in? <a href="#" data-toggle="modal" data-target="#freshwidget-modal">Contact support</a>

            <script type="text/javascript" src="https://assets.freshdesk.com/widget/freshwidget.js"></script>
            <style type="text/css" media="screen, projection">
              @import url(https://assets.freshdesk.com/widget/freshwidget.css);
            </style>
            <div class="modal fade" id="freshwidget-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" style="margin-right:100px;" role="document">
                <div class="modal-content" style="background-color:transparent;border:transparent">
                <div class="modal-header" style="position:absolute;width:30px;height:5px;background:grey;">
                  <button type="button" class="close" data-dismiss="modal" style="position:absolute;left:-7px;top:5px;">
                    <span aria-hidden="true" style="color:white;">×</span>
                  </button>
                </div>
                <div style="margin-left:10px">
                  <iframe title="Feedback Form" class="freshwidget-embedded-form" style="display:block" id="freshwidget-embedded-form" src="https://toladata.freshdesk.com/widgets/feedback_widget/new?&amp;widgetType=popup&amp;formTitle=Feedback+%26+Support&amp;submitTitle=Submit&amp;submitThanks=Thank+you+we+will+respond+shortly!&amp;searchArea=no" scrolling="no" height="480px" width="470px" frameborder="0" ></iframe>
                </div>
              </div>
              </div>
            </div>
        </p>
    </div>
{% endblock %}
