{% extends 'base.html' %}

{% block content %}
  <div class="app-page">
      <img src="{{ STATIC_URL }}img/padlock.svg" alt="" class="mx-auto login__logo">
    {% if validlink %}
      <h3 class="text-center">Reset your password</h3>
      <p class="text-center text--gray text--light">You requested to reset your password for:<br/>{{ email }}</p>
      <p class="text-center text--gray text--light">Please update the password information below</p>
      <form action="" method="post">
      {% csrf_token %}
      <div class="tola-form">
        {{ form.as_p }}
          <div class="text-center">
              <input type="submit" value="Submit" class="btn btn-primary">
          </div>
      </div>
    </form>
    {% else %}
      <h4 class="text-center">Invalid password reset link</h4>
      <p class="text-center">
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
      </p>
      <p class="text-center">
        <a href="{% url 'password_reset' %}">Reset password</a>
      </p>
      <p class="text-center">
        <a href="{% url 'login' %}">Cancel</a>
      </p>
    {% endif %}
  </div>
{% endblock %}
