{% extends 'base.html' %}

{% block content %}
  <div class="app-page">
    <img src="{{ STATIC_URL }}img/padlock.svg" alt="" class="mx-auto login__logo">

    <h3 class="text-center">Email sent!</h3>
    <p class="text-center">
      We've emailed you instructions for resetting your password.
      You should receive them shortly.
    </p>
    <p class="text-center">
      If you do not receive a password reset email within 10 minutes, please
      check your spam folder. If you still do not have it, please verify that
      you have entered correctly the email address you registered with.
    </p>
  </div>
{% endblock %}
