{% extends 'base.html' %}

{% block content %}
  <div class="app-page">
    <img src="{{ STATIC_URL }}img/padlock.svg" alt="" class="mx-auto login__logo">

    <h3 class="text-center">Forgot password</h3>
    <p class="text-center text--gray text--light">Just give us your e-mail address and we'll send you an e-mail with a link to reset your password.</p>
    <form action="" method="post">
      {% csrf_token %}
      <div class="tola-form">
        {{ form.as_p }}
          <div class="text-center">
              <input type="submit" value="Submit" class="btn btn-primary">
          </div>
      </div>
    </form>
  </div>
{% endblock %}
