<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="resetpassword.css">
    <title></title>
  </head>
  <body style="text-align:center;">
    <div style="background-color: #f5f5f5; padding: 30px 0px 30px 0px;"><img align="center" alt="toladata" src="https://gallery.mailchimp.com/5798f7cdf4dfa2bee086f3d76/images/628f2127-a9fd-467b-8649-abedd8138b10.png" width="312.5" style="max-width: 625px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" /></div>
    <table align="center">
      <tbody>
        <tr>
          <td align="left">
            <p><span style="color: #737581; font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px;">Dear {{ tolauser_name }},</span></p>
            <p style="color: #737581; font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px;">To reset your password for <a href="http://toladata.io" target="_blank">TolaData</a> simply click the button below</p>
          </td>
        </tr>
        <tr>
          <td>
            <table align="center">
              <tbody>
                <tr>
                  <td style="font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px; padding: 18px; background-color: #ff9f00; color: #ffffff; font-weight: bold;">
                    <a href="{{ protocol }}://{{ host }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
                      <div style="height:100%;width:100%">
                        Reset my password
                      </div>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <br /><br />
            <p><span style="color: #737581; font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px;">If you did not initiate this password reset request, you can safely ignore this email.</span></p>
          </td>
        </tr>
        <tr>
          <td align="left">
            <p><span style="color: #737581; font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px;">Best regards,</span></p>
            <p><span style="color: #737581; font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px;">TolaData</span></p>
          </td>
        </tr>
        <tr>
          <td style="padding: 50px 100px 100px 100px;"></td>
        </tr>
      </tbody>
    </table>
    <div style="background-color: #f5f5f5; padding: 10px 0px 10px 0px;">
      <p><span style="color: #737581; font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px;">TolaData GmbH</span><br /> <span style="color: #737581; font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px;">Wöhlerstraße 12-13, 10115 Berlin, Germany</span></p>
      <p><span style="color: #737581; font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px;">Have any questions or thoughts on TolaData?</span><br /> <span style="color: #737581; font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px;">Reach out to us at anytime at <a href="mailto:support@toladata.com" target="_blank"><span style="color: #0abffc;">support@toladata.com</span></a></span></p>
    </div>
  </body>
</html>
