<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<body style="margin: 0px">
		<div
			style="
				background-color: #f5f5f5;
				padding: 30px 0px 30px 0px;
				display: run-in;
				text-align: center;
			"
		>
			<img
				align="center"
				alt="DrunR"
				src=""
				width="312.5"
				style="
					max-width: 625px;
					padding-bottom: 0;
					display: inline !important;
					vertical-align: bottom;
				"
			/>
		</div>
		<p><br /><br /></p>
		<table align="center" style="width: 719px">
			<tbody>
				<tr style="height: 104px">
					<td style="width: 691px; height: 104px">
						<h1 style="text-align: center">
							<span style="color: #151f56"
								><strong
									><span
										style="
											font-size: 40px;
											font-family: roboto, helvetica neue, helvetica, arial, sans-serif;
										"
										>New Approval Request Admin!</span
									></strong
								></span
							>
						</h1>
						<p
							style="
								padding-top: 20px;
								padding-bottom: 10px;
								text-align: center;
								font-family: roboto, helvetica neue, helvetica, arial, sans-serif;
								color: #737581;
							"
						>
							<span
								style="
									font-size: 12pt;
									font-family: roboto, helvetica neue, helvetica, arial, sans-serif;
									color: #737581;
								"
								>Approve newly registered user
								<span
									style="
										font-family: roboto, helvetica neue, helvetica, arial, sans-serif;
										color: #151f56;
									"
									><strong>{{ coreuser_name }} on {{ organization_name }}</strong></span
								>
							</span>
						</p>
					</td>
				</tr>
			</tbody>
		</table>
		<table align="center" style="width: 160px">
			<tbody>
				<tr style="height: 20px">
					<td
						style="
							font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
							font-size: 18pt;
							padding: 12pt;
							background-color: #ff9f00;
							color: #ffffff;
							font-weight: bold;
							text-align: center;
						"
					>
						<a
							href="{{ approval_link }}"
							target="_blank"
							style="
								font-weight: bold;
								letter-spacing: normal;
								line-height: 100%;
								text-align: center;
								text-decoration: none;
								color: #ffffff;
							"
							>Approve</a
						>
					</td>
				</tr>
			</tbody>
		</table>
		<p><br /><br /><br /><br /><br /></p>
		<div style="background-color: #f5f5f5; padding: 1px 0px 1px 0px; text-align: center">
			<p>
				<span
					style="
						color: #737581;
						font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
						font-size: 14px;
					"
					>DrunR</span
				><br />
				<span
					style="
						color: #737581;
						font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
						font-size: 14px;
					"
					>Seattle, WA</span
				>
			</p>
			<p>
				<span
					style="
						color: #737581;
						font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
						font-size: 14px;
					"
					>Have any questions or thoughts on DrunR?</span
				><br />
				<span
					style="
						color: #737581;
						font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
						font-size: 14px;
					"
					>Reach out to us at anytime at
					<a
						href="mailto:support@tpath.io"
						target="_blank"
						style="text-decoration: underline; color: #0abffc"
						><span style="color: #0abffc">support@drunr.com</span></a
					></span
				>
			</p>
		</div>
	</body>
</html>
