<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="margin:0px;">
    <div style="background-color: #f5f5f5; padding: 30px 0px 30px 0px; display: run-in; text-align: center;"><img align="center" alt="Buildly" src="" width="312.5" style="max-width: 625px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" /></div>
    <p><br/><br/></p>
    <table align="center" style="width: 719px;">
      <tbody>
        <tr style="height: 104px;">
          <td style="width: 691px; height: 104px;">
            <h1 style="text-align: center;"><span style="color: #151f56;"><strong><span style="font-size: 40px; font-family: roboto,helvetica neue,helvetica,arial,sans-serif;">Invitation from your Org <br />Admin!</span></strong></span></h1>
            <p style="padding-top: 20px; padding-bottom: 10px; text-align: center; font-family: roboto,helvetica neue,helvetica,arial,sans-serif; color: #737581;"><span style="font-size: 12pt; font-family: roboto,helvetica neue,helvetica,arial,sans-serif; color: #737581;">You have been invited to join <span style="font-family: roboto,helvetica neue,helvetica,arial,sans-serif; color: #151f56;"><strong>{{ organization_name }}</strong></span> on Buildly!<br />Click the button below to create your user profile</span></p>
          </td>
        </tr>
      </tbody>
    </table>
    <table align="center" style="width: 160px;">
      <tbody>
        <tr style="height: 20px;">
          <td style="font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18pt; padding: 12pt; background-color: #ff9f00; color: #ffffff; font-weight: bold; text-align: center;">
              <a href="{{ invitation_link }}" target="_blank" style="font-weight: bold; letter-spacing: normal; line-height: 100%; text-align: center; text-decoration: none; color: #ffffff;">My Profile</a><br>
          </td>
        </tr>
        <tr>
            <p><span style="color: #737581; font-size: 12pt; font-family: roboto,helvetica neue,helvetica,arial,sans-serif;"><i>Or copy the link: </i></span></p>
            <p><a href=""><span style="color: #737581; font-size: 10pt; font-family: roboto,helvetica neue,helvetica,arial,sans-serif;">{{ invitation_link }}</span></a></p>
        </tr>
      </tbody>
    </table>
    <table align="center" style="width: 719px;">
      <tbody>
        <tr style="height: 35px;">
          <td style="width: 691px; height: 35px;">
            <p><span style="color: #737581; font-size: 12pt; font-family: roboto,helvetica neue,helvetica,arial,sans-serif;"><i>Next steps</i></span></p>
          </td>
        </tr>
        <tr style="height: 33px;">
          <td style="color: #737581; font-size: 12pt; font-family: roboto,helvetica neue,helvetica,arial,sans-serif; width: 691px; height: 33px;">Once you have registered you will be within <span style="font-family: roboto,helvetica neue,helvetica,arial,sans-serif; color: #151f56;"><strong>{{ organization_name }}</strong></span>'s workspace.</td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td style="color: #737581; font-size: 12pt; font-family: roboto,helvetica neue,helvetica,arial,sans-serif; width: 691px; height: 33px;">If you have any questions about this invitation please contact <span style="font-family: roboto,helvetica neue,helvetica,arial,sans-serif; color: #151f56;"><strong>{{ org_admin_name }}</strong></span><br/> from <span style="font-family: roboto,helvetica neue,helvetica,arial,sans-serif; color: #151f56;"> <strong>{{ organization_name }}</strong> </span></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
