<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Invitation for event</title>
  </head>
  <body style="margin:0px;">
    
    <p><br/><br/></p>
    <table align="center" style="width: 719px;">
      <tbody>
        <tr style="height: 104px;">
          <td style="width: 691px; height: 104px;">
            <h1 style="text-align: center;"><span style="color: #151f56;"><strong><span style="font-size: 40px; font-family: roboto,helvetica neue,helvetica,arial,sans-serif;">Invitation from  <br />MediaMash!</span></strong></span></h1>
            <p style="padding-top: 20px; padding-bottom: 10px; text-align: center; font-family: roboto,helvetica neue,helvetica,arial,sans-serif; color: #737581;"><span style="font-size: 12pt; font-family: roboto,helvetica neue,helvetica,arial,sans-serif; color: #737581;">You have been invited to join {{ organization_name }}/<span style="font-family: roboto,helvetica neue,helvetica,arial,sans-serif; color: #151f56;"><strong>{{ event_name }}</strong></span><br /></span></p>
          </td>
        </tr>
      </tbody>
    </table>
    <table align="center" style="width: 160px;">
      <tbody>
        <tr style="height: 20px;">
          <td style="font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18pt; padding: 12pt; background-color: #ff9f00; color: #ffffff; font-weight: bold; text-align: center;"><a href="{{ event_link }}" target="_blank" style="font-weight: bold; letter-spacing: normal; line-height: 100%; text-align: center; text-decoration: none; color: #ffffff;">Join</a></td>
        </tr>
      </tbody>
    </table>



  </body>
</html>
