{% load i18n %}<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
{% autoescape off %}
    <p>
{% blocktrans %}You're receiving this email because you requested a password reset for your user account.{% endblocktrans %}
    </p>

    <p>
{% trans "Please go to the following page and choose a new password:" %}
    </p>

    <p>
{{ password_reset_link }}
    </p>

    <p>
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}
    </p>

{% trans "Thanks for using our site!" %}

{% endautoescape %}
</body>
</html>
