<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
{% autoescape off %}
    <p>
Guten Tag,
    </p>

    <p>
bitte klicken Sie auf den folgenden Link, um ihr Passwort zurückzusetzen. Bitte beachten Sie, dass der Link nur 24 Stunden gültig ist:
    </p>

    <p>
{{ password_reset_link }}
    </p>

    <p>
Das Passwort soll nicht zurückgesetzt werden? Dann ignorieren Sie diese Nachricht bitte. Das ursprüngliche Passwort bleibt bestehen.
    </p>

    <p>
Beste Grüße Ihr Kupfer Team
    </p>

    <p>
Kupfer Software GmbH Tempelhofer Ufer 1, 10961 Berlin
    </p>
{% endautoescape %}
</body>
</html>
