<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="margin:0px;">
   
    <p><br/><br/></p>
    <table align="center" style="width: 719px;">
      <tbody>
        <tr style="height: 104px;">
          <td style="width: 691px; height: 104px;">
            <h1 style="text-align: center;"><span style="color: #151f56;"><strong><span style="font-size: 40px; font-family: roboto,helvetica neue,helvetica,arial,sans-serif;">Message from Transparent Path <br />Admin!</span></strong></span></h1>
            <p style="padding-top: 20px; padding-bottom: 10px; text-align: center; font-family: roboto,helvetica neue,helvetica,arial,sans-serif; color: #737581;"><span style="font-size: 12pt; font-family: roboto,helvetica neue,helvetica,arial,sans-serif; color: #737581;">Current status of shipment <span style="font-family: roboto,helvetica neue,helvetica,arial,sans-serif; color: #151f56;"><strong>{{ alert_message }}</strong></p>
          </td>
        </tr>
      </tbody>
    </table>
    
    <
  </body>
</html>
