<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="margin:0px;">
    <div style="background-color: #f5f5f5; padding: 30px 0px 30px 0px; display: run-in; text-align: center;"><img align="center" alt="Buildly" src="" width="312.5" style="max-width: 625px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" /></div>
    <p><br/><br/></p>
    <table align="center" style="width: 719px;">
      <tbody>
        <tr style="height: 104px;">
          <td style="width: 691px; height: 104px;">
            <h1 style="text-align: center;"><span style="color: #151f56;"><strong><span style="font-size: 40px; font-family: roboto,helvetica neue,helvetica,arial,sans-serif;">Subscription successful!</span></strong></span></h1>
            <p style="padding-top: 20px; padding-bottom: 10px; text-align: center; font-family: roboto,helvetica neue,helvetica,arial,sans-serif; color: #737581;"><span style="font-size: 12pt; font-family: roboto,helvetica neue,helvetica,arial,sans-serif; color: #737581;">You have successfully subscribed to<span style="font-family: roboto,helvetica neue,helvetica,arial,sans-serif; color: #151f56;"><strong> Labs </strong></span> on Buildly!<br />Click the button below to return to the app</span></p>
          </td>
        </tr>
      </tbody>
    </table>
    <table align="center" style="width: 160px;">
      <tbody>
        <tr style="height: 20px;">
          <td style="font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18pt; padding: 12pt; background-color: #ff9f00; color: #ffffff; font-weight: bold; text-align: center;"><a href="{{ frontend_link }}" target="_blank" style="font-weight: bold; letter-spacing: normal; line-height: 100%; text-align: center; text-decoration: none; color: #ffffff;">Buildly Labs</a></td>
        </tr>
      </tbody>
    </table>
    <table align="center" style="width: 719px;">
      <tbody>
        <tr style="height: 35px;">
          <td style="width: 691px; height: 35px;">
            <p><span style="color: #737581; font-size: 12pt; font-family: roboto,helvetica neue,helvetica,arial,sans-serif;"><i>Package</i></span></p>
          </td>
        </tr>
        <tr>
          <td>{{ product_name }}</td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>{{ product_description }}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
