.mb{
    &-0{
        margin-bottom: 0 !important;
    }
}

.image-inline-text{
    position: relative;
    top: -4px;
}

.inline-text-box{
    padding: 5px 26px;
    display: inline-flex;
    background-color: $white;
    color: $blue-moon;
}