$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #B3B7CC !default;
$gray-600: #6A6E7D !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

// Color Palette
$white: #fff;
$black: #000;

$gray-dark: #222;
$gray: #333333;
$gray-medium: #686C82;
$gray-light: #9B9B9B;
$gray-light-200: #dfdfdf;
$gray-lighter: #F5F5F5;


$orange-darker: #D18518;
$orange: #FFA21D;
$orange-lighter: #FFB246;


$green-darker: #07C498;
$green: #07D7A7;
$green-lighter: #1DDAAF;

$blue-moon: #00439C;
$blue-moon-lighter: #101F74;
$blue-flash: #3937DD;
$blue-very-dark : #074054;
$blue-darker: #0B607D;
//$blue-darker: #117e8e;
$blue: #13B0E5;
$blue-lighter: #3DBEE9;
$blue-very-light: #f4fbfe;

$red-darker: #FF464F;
$red: #FF1D29;
$red-lighter: #D11822;

$yellow-darker: #af9245;
$yellow: #d5b251;
$yellow-lighter: #d9bc6e;


// Component Colors
$body-bg-color: $gray-lighter;
$navbar-bg: $gray-lighter;
$navbar-brand-bg: $orange;

$border-color-default: $gray-lighter;
$radius-default: 3px;
$card-headings: $white;

// Margins

// Progress bars
$progress-bg:                   white !default;
$progress-bar-bg:               $blue-darker !default;
$defaultTransition: all .2s;

$scandia: "scandia", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$brix: 'brix-sans', Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Breakpoints
$small-down: '(max-width: 719px)';
$medium: '(min-width: 720px)';
$medium-down: '(max-width: 959px)';
$large: '(min-width: 960px)';
$large-down: '(max-width: 1139px)';


