.btn{
  &-primary{
    color: $white;
    cursor: pointer;
    &:hover{
      color: $white;
    }
  }
  &-social{
    display: flex;
    justify-content: center;
    align-items: center;
    i{
      margin-right: rem-calc(10);
    }
    &--google{
      @include button-variant(#dd4b39, #dd4b39);
    }
    &--microsoft{
      @include button-variant(#1174c3, #1174c3);
    }
  }
  &--action{
    padding: rem-calc(10 40);
  }
}