.tola-form{
  label{
    margin-bottom: 0;
    color: $gray-light;
    font-size: rem-calc(12);
    text-transform: uppercase;
  }
  input[type="text"], input[type="password"], input[type="email"]{
    display: block;
    width: 100%;
    padding: rem-calc(8 14);
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid $gray-light-200;
    border-radius: 0;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    &:focus{
      outline: none;
      border-color: $gray-light;
    }
  }
  input[type="submit"]{
    margin-top: rem-calc(20);
    padding: rem-calc(10 50);
  }
  p{
    margin-bottom: rem-calc(20);
  }
}

.form-control{
  padding: rem-calc(8 14);
  &:focus{
    box-shadow: none;
  }
}
.control-label{
  margin-bottom: 0;
  color: $gray-light;
  font-size: rem-calc(12);
  text-transform: uppercase;
}

.help-block{
  color: $gray;
  font-size: rem-calc(14);
  color: $gray;
}

.errorlist{
  list-style: none;
  display: block;
  padding: rem-calc(20);
  border: 1px solid $red;
  li{

  }
}