.main{
  min-height: 100vh;
  display: flex;
  &__feature{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 rem-calc(400);
    background: url("../img/feature-bg.png") top left no-repeat $blue;
    background-size: 100%;
  }
  &__panel{
    flex: 1 1 auto;
    padding-left: rem-calc(30);
    display: flex;
    justify-content: center;
    align-items: center;
    &__content{
      max-width: rem-calc(540);
      width: 90%;
    }
    &__top{
      position: absolute;
      top: 20px;
      right:20px;
    }
  }
}
.main__panel__top{

}