.login{
  &__logo{
    display: block;
    height: rem-calc(100);
    margin-bottom: rem-calc(15);
  }
}
.login-page{
  max-width: rem-calc(480);
  margin: 0 auto;
  &__or-seperator{
    margin-top: rem-calc(30);
    position: relative;
    padding: rem-calc(10 80);
    &:before, &:after {
      content: '';
      position: absolute;
      background-color: $gray-light-200;
      top: 50%;
      width: 60px;
      height: 1px;
    }
    &:before{
      left: 0;
    }
    &:after {
      right: 0;
    }
    &__wrap{
      margin: rem-calc(30 0);
    }
  }
}
.privacy-policy{
  height: 183px;
  overflow-y: scroll;
  color: $gray-light;
  font-size: rem-calc(14);
}