{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="p-t-50 p-b-60">
	<p class="m1-txt1 p-b-36">
		These links might help you:
	</p>
	<ul>
	  <li><a href="https://buildly-core.readthedocs.io/en/latest/">Buildly Documentation</a></li>
	  <li><a href="https://swagger.io/specification/">OpenAPI Specification</a></li>
	  <li><a href="https://github.com/buildlyio/buildly-ui">Get Buildly UI and administer your gateway the easy way</a></li>
	</ul>
	<hr/>
	<ul>
	  <li><a href="{{ api_url }}">Your API</a></li>
	  <li><a href="{{ documentation_url }}">Your Documentation</a></li>
	</ul>

	<p class="s2-txt3 p-t-18">
		If you need any help, just try to reach out the community and/or check out Buildly's documentation.
	</p>
</div>
{% endblock content %}
